/* game_styles.css */

body {
    background-image: url('human_background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
  color: #fff;
  font-size: 30px;
}

h2 {
  color: #00ff00;
  font-size: 20px;
}

.product-info p {
  margin-bottom: 5px;
}

.product-info img {
  max-width: 300px;
  height: auto;
  margin-top: 10px;
}

/* Категорії */
.category {
  font-weight: bold;
  color: #00ffff;
}

/* Кількість на складі */
.quantity-in-stock {
  color: #ff00ff;
}

/* Ціна */
.price {
  font-weight: bold;
  color: #ffff00;
}
.container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
      }
.form-field {
    margin-bottom: 10px;
    }
.top-left-links {
      position: absolute;
      top: 10px;
      left: 10px;
    }
.top-left-links a {
      display: inline-block;
      margin-left: 10px;
      color: yellow;
    }