  body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #game-container {
            margin-bottom: 20px;
        }

        #message {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }