{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Гра на JavaScript</title>
    <link rel="stylesheet" href="{% static 'css/js_games.css' %}">
</head>
<body>

    <div id="game-container">
        <canvas id="game" width="{{game_width}}" height="{{game_height}}"></canvas>
    </div>
    <button onclick="refreshPage()">Зіграти ще раз</button>
    <script src="{{ game_url }}"></script>
    <script>
        function refreshPage() {
            location.reload();
        }
    </script>
</body>
</html>
