{% extends 'main_page/index.html' %}
{% load static %}
    {% block categories %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block products %}
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-3" id="carousel_42f3">
      <div class="u-container-align-center u-container-style u-group u-image u-image-1" data-image-width="1980" data-image-height="2400">
        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
          <h2 class="u-align-center u-text u-text-body-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Грай прямо зараз</h2>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {% for game in games %}
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-2">
               {% if game.js_game_image %}
                <a href="{% url 'js_games:play_game' game_id=game.id %}">
                    <img class="u-expanded-width u-image u-image-default u-image-2" src="{{ game.js_game_image.url }}" alt="{{ product.name }" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                </a>
               {% else %}
                    <p>Фото/картинка не доступна</p>
                {% endif %}
              <h4 class="u-align-center u-text u-text-2">{{ game.js_game_name }}</h4>
              <p class="u-align-center u-text u-text-3"> {{ game.js_game_description }} </p>
              <a href="{% url 'js_games:play_game' game_id=game.id %}" class="u-border-1  u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-black u-text-hover-black u-top-left-radius-0 u-top-right-radius-0 u-btn-1">Грати</a>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
    </section>
    {% endblock %}
