{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
  <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-34-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1295" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h1 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Дякуємо за покупку!</h1>
                <p class="u-align-left u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Покупка виконана успішно.<span style="font-style: italic;"></span></p>
                <div class="u-expanded-width-lg u-expanded-width-xl u-list u-list-1">
                    <a href="{% url 'main_page:index' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Повернутись в магазин</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block content %}
{% endblock %}

{% block products %}
{% endblock %}