{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <h3 align="center">Корзина покупок</h3>
  <table>
    <thead>
      <tr>
        <th>Зображення</th>
        <th style="padding-right: 10px;">Товар</th>
        <th style="padding-right: 10px;">Оновити кількість</th>
        <th style="padding-right: 10px;">Видалити</th>
        <th style="padding-right: 10px;">Кількість</th>
        <th style="padding-right: 10px;">Ціна за шт</th>
        <th style="padding-right: 10px;">Загальна вартість</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{% url 'main_page:product' product_id=product.id %}">
                <img src="{{ product.image.url }}" width=150" height="200">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Взяти ще один">
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Видалити товар</a></td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">{{ item.price }}.грн</td>
            <td class="num">{{ item.total_price }}.грн</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всього</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}.грн</td>
      </tr>
    </tbody>
  </table>
    <a href="{% url 'main_page:index' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Продовжити покупки</a>
    <a href="{% url 'cart:order' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Оформити замовлення</a>

{% endblock %}

{% block products %}
{% endblock %}