{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <h3 align="center">Ваше замовлення:</h3>
  <table>
    <thead>
      <tr>
        <th>Зображення</th>
        <th style="padding-right: 10px;">Товар</th>
        <th style="padding-right: 10px;">Кількість</th>
        <th style="padding-right: 10px;">Ціна за шт</th>
        <th style="padding-right: 10px;">Загальна вартість</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{% url 'main_page:product' product_id=product.id %}">
                <img src="{{ product.image.url }}" width=150" height="200">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">{{ item.price }}.грн</td>
            <td class="num">{{ item.total_price }}.грн</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всього</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}.грн</td>
      </tr>
    </tbody>
  </table>
{% csrf_token as csrf_token %}
<a href="{% url 'cart:confirm_order' %}?csrfmiddlewaretoken={{ csrf_token }}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Купити</a>
{% endblock %}

{% block products %}
{% endblock %}