{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <h3 align="center">Буль-ласка відкоригуйте замовлення</h3>
  <h4>Нажаль по наступним товарам в нас не вистачає необхідної кількості:</h4>
  <table>
    <thead>
      <tr>
        <th style="padding-right: 10px;">Зображення</th>
        <th style="padding-right: 10px;">Товар</th>
        <th style="padding-right: 10px;">Залишок на складі</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product_check_list %}
          <tr>
            <td>
              <a href="{% url 'main_page:product' product_id=product.id %}">
                <img src="{{ product.image.url }}" width=150" height="200">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td style="color: red;">
              {{ product.quantity_in_stock }}
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="{% url 'cart:cart_detail' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">В корзину</a>
{% endblock %}

{% block products %}
{% endblock %}


