{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Reg</title>
   <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
 <div class="top-left-links">
    <a href="{% url 'main_page:index' %}">Головна</a>
  </div>
    <div class="container">
        {% block title %}
            <h2>Логін</h2>
        {% endblock %}

        {% block content %}

        <form method="post">
            {% csrf_token %}
                      {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <br><br>
        {% endfor %}
            <input type="submit" value="Увійти">
            <p><a href="{% url 'auth_app:register' %}">Зареєструватись</a></p>
            <p><a href="{% url 'auth_app:password_reset' %}">Відновити пароль</a></p>
        </form>

        {% endblock %}
    </div>
</body>
</html>
