{% extends 'auth_app/auth_app_base.html' %}
  {% block title %}
    <h2>Реєстрація нового користувача</h2>
  {% endblock %}

{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

 <form method="post" >
        {% csrf_token %}
          {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <br><br>
        {% endfor %}
        <input type="submit" value="Зареєструватися">
    </form>
{% endblock %}
