{% extends 'auth_app/auth_app_base.html' %}

{% block title %}
<h2>Введіть новий пароль</h2>
{% endblock %}

{% block content %}


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Підтвердити">
</form>
{% endblock %}
