{% extends 'auth_app/auth_app_base.html' %}

{% block content %}
<h2>Пароль успішно змінено!</h2>
<h2>Перехід на головну сторінку через 3 секунди</h2>
 <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'main_page:index' %}";
        }, 3000);  // 3000 мілісекунд = 3 секунд
 </script>
{% endblock %}