{% extends 'auth_app/auth_app_base.html' %}

{% block title %}
<h2>Вкажіть Вашу адресу</h2>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Відновити">
    <p><a href="{% url 'main_page:index' %}">На головну</a></p>
</form>
{% endblock %}