{% extends 'auth_app/auth_app_base.html' %}

  {% block title %}
  {% endblock %}

{% block content %}
    <h2>Зміна пароля {{ request.user.username }}</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_old_password">Поточний пароль:</label>
            <input type="password" name="old_password" id="id_old_password" required>
            {% if form.old_password.errors %}
                <ul class="errorlist">
                    {% for error in form.old_password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <label for="id_new_password1">Новий пароль:</label>
            <input type="password" name="new_password1" id="id_new_password1" required>
            {% if form.new_password1.errors %}
                <ul class="errorlist">
                    {% for error in form.new_password1.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <label for="id_new_password2">Підтвердження нового пароля:</label>
            <input type="password" name="new_password2" id="id_new_password2" required>
            {% if form.new_password2.errors %}
                <ul class="errorlist">
                    {% for error in form.new_password2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input type="submit" value="Змінити пароль">
    </form>
{% endblock %}