{% extends 'auth_app/auth_app_base.html' %}

{% block title %}
<h2>Пароль успішно змінено</h2>

{% endblock %}

{% block content %}
<p align="center"><a href="{% url 'auth_app:login' %}">Login</a></p>
{% endblock %}
