{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
    <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
               <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-34-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1295" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Магазин PlayPlay</h2>
                  <p>Ласкаво просимо в магазин PlayPlay!</p>
                  <p>Ми спеціалізуємося на продажі ігор для консолей та ПК.</p>
                  <p>У нашому магазині ви знайдете широкий вибір ігор різних жанрів і платформ. Ми пропонуємо найновіші релізи, класичні хіти та ексклюзивні пропозиції.</p>
                  <p>Наша команда пристрасних гравців та фахівців завжди готова допомогти вам з вибором ігор, надати поради та відповісти на ваші запитання. Ми прагнемо забезпечити вам незабутнє геймінгове досвід.</p>
                  <p>Замовляйте ігри від PlayPlay просто зараз і зануртесь у захоплюючий світ віртуальних пригод!</p>
                  <p>Дякуємо, що обрали PlayPlay!</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 {% endblock %}

{% block content %}
{% endblock %}

{% block products %}
{% endblock %}

