{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
    <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
               <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-34-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1295" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Наші контакти</h2>
                 <div>
                    <h4>Телефон</h4>
                        <p>+380-97-111-11-11</p>
                 </div>
                  <div>
                    <h4>Email</h4>
                        <p>info@playplay.com</p>
                  </div>
                  <div>
                    <h4>Адреса</h4>
                        <p>Крюківщина, Жулянська 1</p>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 {% endblock %}

{% block content %}
{% endblock %}

{% block products %}
{% endblock %}

