{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>PlayPlay</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen">
    {% endblock %}
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900">
   
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'images/default-logo.png' %}"}
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="playplay">
    <meta property="og:type" content="website">
</head>
  <body class="u-body u-xl-mode" data-lang="ru">
    {% block header %}
    <header class="u-clearfix u-header u-header" id="sec-ec65">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="{% url 'main_page:index' %}" class="u-image u-logo u-image-1">
                <img src="{% static 'css/images/logo.png' %}" class="u-logo-image u-logo-image-1">
            </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'main_page:index' %}" style="padding: 10px 20px;">Головна</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'main_page:about_us' %}" style="padding: 10px 20px;">Про нас</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'main_page:contacts' %}" style="padding: 10px 20px;">Контакти</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'js_games:js_gamse_list' %}" style="padding: 10px 20px;">Пограти в ігри</a>
                    </li>
                    {% if user.is_authenticated and user.is_staff == 1 %}
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'personnel_hub:personnel_hub' %}" style="padding: 10px 20px;">Для персоналу</a>
                    </li>
                    {% endif %}
                        {% if user.is_authenticated %}
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'auth_app:logout' %}" style="padding: 10px 20px;">Logout</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'auth_app:password_change' %}" style="padding: 10px 20px;">Change password</a>
                        </li>
                            {% else %}
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'auth_app:login' %}" style="padding: 10px 20px;">Login</a>
                        </li>
                    {% endif %}
                    <li class="u-nav-item">
                            {% with total_items=cart|length %}
                            {% if cart|length > 0%}
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'cart:cart_detail' %}" style="padding: 10px 20px;">
                                    В корзині {{ total_items }} тов.
                                </a>
                            {% else %}
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">
                                    Корзина порожня
                            </a>
                            {% endif %}
                            {% endwith %}
                    </li>

                </ul>
          </div>
           <!-- <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="{% url 'main_page:index' %}">Головна</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="{% url 'main_page:about_us' %}">Про нас</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="{% url 'main_page:contacts' %}">Контакти</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="{% url 'js_games:js_gamse_list' %}">Пограти в ігри</a>
                    </li>
                    <li class="u-nav-item">
                         {% if user.is_authenticated %}
                        <a class="u-button-style u-nav-link" href="{% url 'auth_app:logout' %}">Logout</a>
                        {% else %}
                        <a class="u-button-style u-nav-link" href="{% url 'auth_app:login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div> -->
        </nav>
        </div>
    </header>
    {% endblock %}
    {% block categories %}
    <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-34-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1295" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Інтернет магазин PlayPlay</h2>
                <p class="u-align-left u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">В нас є ігри таких платформ:<span style="font-style: italic;"></span>

                </p>
                <div class="u-expanded-width-lg u-expanded-width-xl u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h6 class="u-align-left u-text u-text-default u-text-3"><span class="u-file-icon u-icon u-icon-1"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                            <a class="u-button-style u-nav-link" href="{% url 'main_page:products_list' category='PlayStation 5' %}">PlayStation 5</a>
                        </h6>
                      </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <h6 class="u-align-left u-text u-text-default u-text-4"><span class="u-file-icon u-icon u-icon-2"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                            <a class="u-button-style u-nav-link" href="{% url 'main_page:products_list' category='PC' %}">PC</a>
                        </h6>
                      </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <h6 class="u-align-left u-text u-text-default u-text-5"><span class="u-file-icon u-icon u-icon-3"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                             <a class="u-button-style u-nav-link" href="{% url 'main_page:products_list' category='Xbox Series' %}">Xbox Series</a>
                        </h6>
                      </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6">
                        <h6 class="u-align-left u-text u-text-default u-text-6"><span class="u-file-icon u-icon u-icon-4"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                        <a class="u-button-style u-nav-link" href="{% url 'main_page:products_list' category='Nintendo Switch' %}">Nintendo Switch</a>
                        </h6>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block products %}
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-3" id="carousel_42f3">
      <div class="u-container-align-center u-container-style u-group u-image u-image-1" data-image-width="1980" data-image-height="1132">
        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
          <h2 class="u-align-center u-text u-text-body-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Хіт продажів</h2>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">

              {% if products %}
                {% for product in products %}
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <a href="{% url 'main_page:product' product_id=product.id %}">
                        <img class="u-expanded-width u-image u-image-default u-image-2" src="{{ product.image.url }}" alt="" data-image-width="1380" data-image-height="920" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        </a>
                        <h4 class="u-align-center u-text u-text-2">{{ product.name }}</h4>
                        <p class="u-align-center u-text u-text-3"> {{ product.description }} </p>
                        <a href=" {% url 'main_page:products_list' product.category.name %}" class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-black u-text-body-color u-text-hover-black u-top-left-radius-0 u-top-right-radius-0 u-btn-1">{{ product.category.name }}</a>
                        <a href="{% url 'main_page:product' product_id=product.id %}" class="u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-black u-text-body-color u-text-hover-black u-top-left-radius-0 u-top-right-radius-0 u-btn-1">more</a>
                    </div>
                 </div>
                {%endfor%}
              {%endif%}

        </div>
      </div>
    </section>
    {% endblock %}

    {% block contacts %}
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-4" id="sec-b38a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h4 class="u-align-center u-text u-text-1">Напишіть нам Email</h4>
                  <p class="u-align-center u-text u-text-default u-text-2"> Напишіть нам Email, і ми як найшвидше Вам відповімо.</p>
                  <div class="u-align-center-sm u-align-center-xs u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
                      <div class="u-form-email u-form-group u-label-none">
                        <label for="email-5b2e" class="u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-5b2e" name="email" class="u-grey-10 u-input u-input-rectangle u-input-1" required="">
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-active-palette-3-light-1 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-3-light-1 u-palette-3-base u-btn-1">Відправити</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="5a5b7be89127512fa7b9120cbac4328d">
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">
                <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="{% static 'css/images/Telegram_Messenger.png' %}" alt=""></span>
                  <h4 class="u-align-center u-text u-text-3"> Підтримка в Telegram</h4>
                  <p class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-4"> Підключайтесь до телеграм бота, він відповість на всі Ваші питання.</p>
                  <a href="" class="u-active-palette-3-light-1 u-btn u-button-style u-custom u-hover-palette-3-light-1 u-palette-3-base u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">+380-97-111-11-11</a>
                </div>
              </div>
              <div class="cell-temp-clone u-container-align-center u-container-style u-layout-cell u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">
                <div class="u-container-layout u-valign-top u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-text-white u-icon-2"><img src="{% static 'css/images/684849-34712721.png' %}" alt=""></span>
                  <h4 class="u-align-center u-text u-text-5"> Живий Chat</h4>
                  <p class="u-align-center u-text u-text-6"> Тут Ви можете задати питання нашим спеціалістам</p>
                  <a href="" class="u-active-palette-3-light-1 u-btn u-button-style u-custom u-hover-palette-3-light-1 u-palette-3-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Тицьни, щоб почати</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block footer %}
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e9ba">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">
                <a class="u-link" href="https://nicepage.com">Сторінка створена використовуючи ресурс nicepage.</a>
            </p>
        </div>
    </footer>
    {% endblock %}
  </body>
</html>
