{% extends 'main_page/index.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/index_product.css' %}" media="screen">
    <style>
        :root {
        --background-image: url({{ product.image.url }});
        }
    </style>
    {% endblock %}
{% load static %}

{% block categories %}
<H1 align="center">{{product.name}}</H1>
    <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-34-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="500" data-image-height="500" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg  u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <p class="u-align-left u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">{{ product.price }} грн.</p>
                  <div class="u-expanded-width-lg u-expanded-width-xl u-list u-list-1">
                        {% if product.quantity_in_stock != 0 %}
                        <a href="{% url 'cart:cart_add' product.id %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Додати в кошик</a>
                        {% else %}
                        <p>Немає в наявності</p>
                        {% endif %}
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<H4>Характеристики гри {{product.name}} :</H4>
<table>

    <tbody>
        {% for key, val in render_fileds.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{val}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block content %}
{% endblock %}

{% block products %}
{% endblock %}
