{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/personnel_hub_inser_table_style.css' %}">
  <script src="{% static 'js/personel_hub_inser_table.js' %}"></script>
  <h3 align="center">Категорії</h3>
  <table>
    <thead>
      <tr>
        <th style="padding-right: 10px;">Деталі</th>
        <th style="padding-right: 10px;">Ід категорії</th>
        <th style="padding-right: 10px;">Назва</th>
        <th style="padding-right: 10px;">Опис</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
          <tr>
            <td><a href="#" onmousedown="toggleTable('nestedTable{{ forloop.counter }}', event)">Деталі</a></td>
            <td>{{ category.id }}</td>
            <td style="padding-right: 10px;">{{ category.name}}</td>
            <td>{{ category.description }} </td>
          </tr>
          <tr>
            <td colspan="5">
               <table id="nestedTable{{ forloop.counter }}" class="nested-table">
                <tr>
                  <th>Зображення</th>
                  <th style="padding-right: 10px;">Назва</th>
                  <th style="padding-right: 10px;">Платформа</th>
                  <th style="padding-right: 10px;">Залишок на складі</th>
                  <th style="padding-right: 10px;">Ціна</th>
                </tr>
                {% for item in category.product_set.all %}
                       <tr>
                     <td>
                        <a href="{% url 'main_page:product' item.id %}">
                            <img src="/media/{{ item.image }}" width=150" height="200">
                        </a>
                    </td>
                    <td style="padding-right: 10px;">{{ item.name }}</td>
                    <td>{{ item.category.name }}</td>
                    <td >{{ item.quantity_in_stock }} шт.</td>
                    <td>{{ item.price }} грн.</td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

<a href="{% url 'personnel_hub:personnel_hub' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Повернутись</a>
{% endblock %}

{% block products %}
{% endblock %}
