{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/personnel_hub_inser_table_style.css' %}">
  <script src="{% static 'js/personel_hub_inser_table.js' %}"></script>
  <h3 align="center">Замовлення</h3>
  <table>
    <thead>
      <tr>
        <th style="padding-right: 10px;">Деталі</th>
        <th style="padding-right: 10px;">Ід замовлення</th>
        <th style="padding-right: 10px;">Дата замовлення</th>
        <th style="padding-right: 10px;">Клієнт</th>
        <th style="padding-right: 10px;">Сума замовлення</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
          <tr>
            <td><a href="#" onmousedown="toggleTable('nestedTable{{ forloop.counter }}', event)">Деталі</a></td>
            <td>{{ order.id }}</td>
            <td>{{ order.order_date|date:"d-m-Y"}}</td>
            <td style="padding-right: 10px;">{{ order.user.email }} </td>
            <td>{{ order.total_amount }} грн. </td>
          </tr>
          <tr>
            <td colspan="5">
               <table id="nestedTable{{ forloop.counter }}" class="nested-table">
                <tr>
                  <th>Зображення</th>
                  <th style="padding-right: 10px;">Назва</th>
                  <th style="padding-right: 10px;">Платформа</th>
                  <th style="padding-right: 10px;">Кількість</th>
                  <th style="padding-right: 10px;">Ціна</th>
                </tr>
                {% for item in order.orderitem_set.all %}
                       <tr>
                     <td>
                        <a href="{% url 'main_page:product' product_id=item.product.id %}">
                            <img src="{{ item.product.image.url }}" width=150" height="200">
                        </a>
                    </td>
                    <td style="padding-right: 10px;">{{ item.product.name }}</td>
                    <td>{{ item.product.category.name }}</td>
                    <td>{{ item.quantity }} шт.</td>
                    <td>{{ item.product.price }} грн.</td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="{% url 'personnel_hub:personnel_hub' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Повернутись</a>
{% endblock %}

{% block products %}
{% endblock %}
