{% extends 'main_page/index.html' %}
{% load static %}


    {% block categories %}
    <section class="u-align-center u-clearfix u-palette-3-base u-section-1" id="sec-f7d1">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-22-xl u-size-26-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Доступні інструменти</h2>
                <div class="u-expanded-width-lg u-expanded-width-xl u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h6 class="u-align-left u-text u-text-default u-text-3"><span class="u-file-icon u-icon u-icon-1"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="{% url 'personnel_hub:categories' %}">Переглянд категорій</a>
                            </li>
                        </h6>
                      </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <h6 class="u-align-left u-text u-text-default u-text-4"><span class="u-file-icon u-icon u-icon-2"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="{% url 'personnel_hub:products' %}">Робота з товарами</a>
                            </li>
                        </h6>
                      </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <h6 class="u-align-left u-text u-text-default u-text-5"><span class="u-file-icon u-icon u-icon-3"><img src="{% static 'css/images/711239.png' %}" alt=""></span>&nbsp;
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="{% url 'personnel_hub:orders' %}">Переглянути замовлення</a>
                            </li>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block products %}
    {% endblock %}


