{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Product Details</title>
  <link rel="stylesheet" href="{% static 'css/game_styles.css' %}">
</head>

{% block content %}
<body>
  <div class="top-left-links">
    <a href="{% url 'main_page:index' %}">Головна</a>
    <a href="{% url 'personnel_hub:personnel_hub' %}">Для персоналу</a>
  </div>
  <h1 align="center">{{ title_name }}</h1>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Внести запис до бази</button>
    </form>
  </div>
</body>
{% endblock %}


