{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/personnel_hub_inser_table_style.css' %}">
  <script src="{% static 'js/personel_hub_inser_table.js' %}"></script>
  <h3 align="center">Товари/Склад</h3>
<hr>
  <table>
    <tbody>
          <tr>
            <td><a href="#" onmousedown="toggleTable('nestedTable{{ forloop.counter }}', event)">Товари, що закінчились</a></td>
          </tr>
          <tr>
            <td colspan="5">
               <table id="nestedTable{{ forloop.counter }}" class="nested-table">
                <tr>
                  <th>Зображення</th>
                  <th style="padding-right: 10px;">Назва</th>
                  <th style="padding-right: 10px;">Платформа</th>
                  <th style="padding-right: 10px;">Залишок на складі</th>
                  <th style="padding-right: 10px;">Ціна</th>
                </tr>
                {% for product in products %}
                   {% if product.quantity_in_stock == 0 %}
                       <tr>
                     <td>
                        <a href="{% url 'main_page:product' product.id %}">
                            <img src="{{ product.image.url }}" width=150" height="200">
                        </a>
                    </td>
                    <td style="padding-right: 10px;">{{ product.name }}</td>
                    <td style="padding-right: 10px;">{{ product.category.name }}</td>
                    <td style="padding-right: 10px;">{{ product.quantity_in_stock }} шт.</td>
                    <td style="padding-right: 10px;">{{ product.price }} грн.</td>
                    <td >
                        <a href="{% url 'personnel_hub:product_edit_quantity' product.id %}">Добавити на склад</a>
                    </td>
                  </tr>
                   {% endif %}
                {% endfor %}
              </table>
                <hr>
            </td>
          </tr>

          <tr>

            <td><a href="#" onmousedown="toggleTable('nestedTable2{{ forloop.counter }}', event)">Товари, що закінчуються</a></td>
          </tr>
          <tr>
            <td colspan="5">
               <table id="nestedTable2{{ forloop.counter }}" class="nested-table">
                <tr>
                  <th>Зображення</th>
                  <th style="padding-right: 10px;">Назва</th>
                  <th style="padding-right: 10px;">Платформа</th>
                  <th style="padding-right: 10px;">Залишок на складі</th>
                  <th style="padding-right: 10px;">Ціна</th>
                </tr>
                {% for product in products %}
                   {% if product.quantity_in_stock > 0 and product.quantity_in_stock <= 20 %}
                       <tr>
                     <td>
                        <a href="{% url 'main_page:product' product.id %}">
                            <img src="{{ product.image.url }}" width=150" height="200">
                        </a>
                    </td>
                    <td style="padding-right: 10px;">{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td >{{ product.quantity_in_stock }} шт.</td>
                    <td>{{ product.price }} грн.</td>
                    <td >
                        <a href="{% url 'personnel_hub:product_edit_quantity' product.id %}">Добавити на склад</a>
                    </td>
                  </tr>
                   {% endif %}
                {% endfor %}
              </table>
                <hr>
            </td>
          </tr>

           <tr>

            <td><a href="#" onmousedown="toggleTable('nestedTable3{{ forloop.counter }}', event)">Всі товари</a></td>
          </tr>
          <tr>
            <td colspan="5">
               <table id="nestedTable3{{ forloop.counter }}" class="nested-table">
                <tr>
                    <th style="padding-right: 10px;">Картинка</th>
                    <th style="padding-right: 10px;">Ід товару</th>
                    <th style="padding-right: 10px;">Назва</th>
                    <th style="padding-right: 10px;">Платформа</th>
                    <th style="padding-right: 10px;">Залишок на складі</th>
                    <th style="padding-right: 10px;">Ціна</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="{% url 'main_page:product' product.id %}">
                                <img src="/media/{{ product.image }}" width=150" height="200">
                            </a>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name}}</td>
                        <td>{{ product.category.name }} </td>
                        <td>{{ product.quantity_in_stock }} шт. </td>
                        <td>{{ product.price }} грн. </td>
                        <td >
                        <a href="{% url 'personnel_hub:product_edit' product.id %}">Внести зміни</a>
                    </td>
                    </tr>
                {% endfor %}
              </table>
                <hr>
            </td>
          </tr>
    </tbody>
  </table>
<a href="{% url 'personnel_hub:add_new_product' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Внести новий товар</a>
<a href="{% url 'personnel_hub:personnel_hub' %}" class="u-active-palette-3-base u-align-left u-black u-border-2 u-border-active-black u-border-black u-border-hover-black u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-3-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Повернутись</a>

{% endblock %}

{% block products %}
{% endblock %}
