{% extends 'main_page/index.html' %}
{% load static %}

{% block categories %}
{% endblock %}

{% block content %}
<body>
  <div class="container">
    <h3 align="center">Внести на склад</h3>
        <table class="cart">
        <thead>
            <tr>
        <th>Зображення</th>
        <th style="padding-right: 10px;">Назва</th>
        <th style="padding-right: 10px;">Залишок</th>
      </tr>
    </thead>
    <tbody>
       <tr>
            <td>
              <a href="{% url 'main_page:product' product.id %}">
                <img src="{{ product.image.url }}" width=150" height="200">
              </a>
            </td>
           <td>
               {{ product.name }}
           </td>
           <td>
               <form method="post">
                    {% csrf_token %}
                    {{ form.quantity_in_stock }}
                    <button type="submit">Зберегти зміни</button>
               </form>
           </td>
       </tr>
    </tbody>
        </table>
  </div>
</body>
{% endblock %}


{% block products %}
{% endblock %}
